<div class="col-md-3">
  <h2 class="text-center">Delete Trip</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Code:</label>
      <input
        type="text"
        formControlName="code"
        placeholder="Code"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
      />
      <div *ngIf="submitted && f.code.errors">
        <div *ngIf="f.code.errors.required">Trip Code is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Delete</button>
  </form>
</div>
